/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  
  /* Fonts */
  body {
    font-family: 'Merriweather', serif;
    font-size: 0.625rem; 
    line-height: 1.6;
    letter-spacing: 0.02rem; 
    word-spacing: 0.05rem;
  }
  
  h1, h2 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05rem; 
  }
  
  h1 {
    text-align: center; 
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  section > h2 + p {
    text-indent: 1.25rem;
  }
  
  /* Links */
  a {
    text-decoration: underline;
    color: #a66; 
  }
  
  a:visited {
    color: #9a5;
  }
  
  a:focus, a:hover {
    text-decoration: none;
    color: #d01;
  }
  
  a:active {
    color: #222;
    background-color: #ffdd88; 
  }
  
  a:focus {
    outline: none;
  }

  a[href^="http"] {
    position: relative;  
    padding-right: 1rem; 
  }
  
  a[href^="http"]::after {
    content: '';
    display: inline-block;
    background: url('/Users/subre/OneDrive/Desktop/CSC317/typesetting/external-link-52.png') no-repeat center center;
    width: 0.8rem;  
    height: 0.8rem; 
    background-size: contain; 
    position: absolute;
    top: 0; 
    right: 0;  
  }
  
  /* Lists */
  ul, ol {
    margin: 1.6rem 0; 
    line-height: 1.6; 
  }
  
  li {
    list-style-type: disc; 
  }
  
  /* Navigation menu */
  nav ul {
    list-style-type: none; 
    padding: 0;
    padding-left: 0;
    height: 100%;
  }
  
  nav ul li {
    margin: 10px 0; 
    list-style-type: none;
  }
  
  nav ul li a {
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase;
    font-size: 1rem;
    color: #333;
    background-color: #eee; 
    padding: 10px 20px; 
    border: 2px solid #a66; 
    border-radius: 5px; 
    text-align: center; 
    display: block;
  }
  
  nav ul li a:hover {
    color: #fff;
    background-color: #a66; 
    border-color: #333;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a[href^="http"] {
    position: relative;
  }
